@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}


<div class="list-group">
    <a asp-page="./Index" class="list-group-item list-group-item-action @ManageNavPages.IndexNavClass(ViewContext)">
        <i class="fas fa-id-card fa-fw me-2"></i>Hồ sơ
    </a>
    <a asp-page="./Email" class="list-group-item list-group-item-action @ManageNavPages.EmailNavClass(ViewContext)">
        <i class="fas fa-envelope fa-fw me-2"></i>Email
    </a>
    <a asp-page="./ChangePassword" class="list-group-item list-group-item-action @ManageNavPages.ChangePasswordNavClass(ViewContext)">
        <i class="fas fa-key fa-fw me-2"></i>Mật khẩu
    </a>
    @if (hasExternalLogins)
    {
        <a asp-page="./ExternalLogins" class="list-group-item list-group-item-action @ManageNavPages.ExternalLoginsNavClass(ViewContext)">
            <i class="fas fa-link fa-fw me-2"></i>Liên kết ngoài
        </a>
    }
    <a asp-page="./TwoFactorAuthentication" class="list-group-item list-group-item-action @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">
        <i class="fas fa-shield-alt fa-fw me-2"></i>Xác thực hai yếu tố
    </a>
    <a asp-page="./PersonalData" class="list-group-item list-group-item-action @ManageNavPages.PersonalDataNavClass(ViewContext)">
        <i class="fas fa-user-lock fa-fw me-2"></i>Dữ liệu cá nhân
    </a>
</div>